terraform {
  backend "s3"{
    // Change the bucket name to YOUR bucket
    bucket      	= var.tfstate_bucket_name
    key 		= "sentry/terraform.tfstate"
    region		= var.region

    // Replace with your DynamoDB table name
    dynamodb_table      = var.tfstate_lock_name
    encrypt		= true
  }
}

